@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@400;600;700&family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4F4ED;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Kalnia', serif;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 3px solid #040404;    
    width: 390px;
    height: 844px;
    border-radius: 20px;
}

#header {
    background: url('../assets/images/mapBG.jpg');
    box-shadow: inset 0 0 0 1000px rgba(6, 103, 230, 0.75);
    background-size: cover;  
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    border-radius: 20px 20px 0px -0px;
    border-top: 2px solid silver; 
    border-right: 2px solid silver; 
    border-left: 2px solid silver; 
    color: #fff;   
}

#header-title, #bird-logo {
    font-size: 3rem;
    vertical-align: bottom;
}

#header-slogan {
    font-size: 1rem;
    text-transform: capitalize;
}

#translate-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

textarea {
    border: 0px;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-color: #d4d4d4;
    border: 1px solid #bebebe;
}

.btn {
    background: rgba(6, 103, 230, 0.75);
    text-align: center;
    padding: 15px;
    color: #fff;
    font-family: 'Kalnia', serif;
}